# Redirection de l'ancien index.php vers le nouvel index.html
DirectoryIndex index.html

<IfModule mod_rewrite.c>
    RewriteEngine On
    # Si on demande explicitement index.php, on redirige vers l'accueil
    RewriteRule ^index\.php$ index.html [L,R=301]
</IfModule>
